<nav class="zone green">
    <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li class="push">
            <div class="search-bar">
                <a href="#" class="header-search-icon" ><i class="fas fa-search"></i></a> <!--open search page when clicked-->
                <input type="search" name="search" placeholder="Search">
            </div>
        </li>
        <%if (user) {%>
            <li class = "push"><a href="/postProductPage">Post your product</a></li>
            <li><a href="/logout">Log out</a></li>
        <%} else { %>
        <li class = "push"><a href="/loginPage">Log in</a>/<a href="/registerPage">Sign up</a></li>
        <%} %>
    </ul>
</nav>